<%=render 'banner'%>
<div class="container mt-5">
  <div class="row justify-content-center">
    <%@events.each do |e|%>
      <div class="col-4">
        <%@event = e%>
        <%=render partial: 'event_card', object: @event%>
      </div>
    <%end%>
  </div>
</div>
